@use "sass:math";
$main-color: rgb(255, 202, 56);

html{
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(255, 122, 33); */
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 1);
}
.colored_button{
    background-color: $main-color !important;
    cursor: pointer;
    transition: 0.25s;

    &:hover{
        background-color: rgb(111, 187, 241) !important;
    }
}
.error_text{
    color: rgb(230, 15, 15);
    font-size: 0.7rem;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.hidden{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.hidden_text{
    color: rgba(0,0,0,0);
}
#register_box{
    display: flex;
    width: 70%;
    height: 75%;
    /* box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.5); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
    border-radius: 12px;
    >*{
        flex: 1 0 50%;
        /* max-width: 100%; */
    }
    form{
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
        gap: 9px;
        background-color: rgba(22, 22, 32, 1);
        border-radius:12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 100%;
        color: rgb(250, 250, 250);
        /* font-size: 1.05em; */
        flex: 1 0 0;
        // div{
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        //     min-width: 60%;
        //     width: 70%;
        //     height: 15%;
        // }
        #pnumber-box, #password-box, #cpassword-box{
            min-width: 70%;
            min-height: 15%;
            input{
                width: 100%;
                padding-left: 8px;
            }
        }
        #password-box{
            label{
                div{
                    position: relative;
                    #conditions-box{
                        position: absolute;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: column;
                        // overflow: auto;
                        gap: 6px;
                        width: 100%;
                        height: max-content;
                        padding: 5px 0;
                        background-color: rgb(34, 34, 34);
                        top: 0;
                        border-bottom-left-radius: 12px;
                        border-bottom-right-radius: 12px;
                        transition: 0.2s;
                        p{
                            width: 98%;
                            margin: 0;
                            padding: 0;
                            color: rgba(255,255,255,0.7);
                            font-size: 0.8rem;
                            padding-left: 5px;
                            // border-bottom: 2px solid rgba(30, 30, 30, 0.7);
                        }
                    }
                }
            }

        }
        h1{
            text-align: center;
            min-width: 55%;
            font-weight: bolder;
            margin-top: clamp(16px, 4.5vh, 100px);
            margin-bottom: clamp(16px, 4.5vh, 100px);
            color: $main-color;
            border-bottom: 2px solid rgb(141, 210, 255);
        }

        input{
            border-radius: 0px;
            flex: 0 0 50%;
            border: none;
            color: white;
            background-color: rgba(10, 10, 10, 1);
            min-width: 90%;
            min-height: 50%;
            font-size: 0.7rem;
            &:focus{
                outline: none;
            }
        }
    }
    .colored_button{
        /* background-color: rgb(247, 132, 56); */
        width: 18%;
        height: 40px;
    }
    div:has(.colored_button){

        margin-top: 6vh;
        min-width: 50%;
        min-height: 8%;
        >*{
            font-size: 1.3rem;
            font-weight: bold;
            width: 100%;
            // border-radius: 12px;
        }
    }
    div:has(a){
        margin-top: 5px;
        max-width: 90%;
    }
    div a{
        text-align: center;
        color: rgb(74, 170, 235);
        text-decoration: none;
        transition: 0.25s;
        font-size: 0.8rem;
    }
    div a:hover{
        color: rgb(141, 210, 255);
    }
}
.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#information_box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(sky-003-1551943641.webp);
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-image: linear-gradient(315deg, #ed6ea0 10%, #ec8c69 62%); */
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1.5 0 0;
    font-size: clamp(16px, 3.3vmin, 6vmax);
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4vh;
        width: 90%;
        height: 80%;
        border-radius: 12px;
        p{
            margin-left: 12px;
            margin-right: 12px;
            margin-top: 0;
            margin-bottom: 0;
            color: rgb(250, 250, 250);
            /* font-size: 1.2em; */
        }
        >h2{
            color: rgb(250, 250, 250);
            /* font-size: 2.5em; */
            margin-top: 0px;
            margin-bottom: 0px;
            border-bottom: 3px solid white;
        }
    }
    >*{
        text-align: center;
    }
}
@media all and (min-width: 768px){
    html{
        font-size: clamp(16px, 2.8vmin, 10vmax);
    }
}
@media all and (orientation: portrait){
    #information_box{
        display: none;
        visibility: hidden;
    }
    #register_box{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 22, 32, 1);
        >form{
            max-width: 95%;
            height: 80%;
            // border-top-left-radius: 12px;
            // border-bottom-left-radius: 12px;
            /* font-size: clamp(16px, 10vmin, 32vw); */
            gap: 30px;
            >h1{
                margin-top: 0;
                margin-bottom: 4vh;
                font-size: 2.1rem;
            }

            input{
                min-width: 100%;
                min-height: 50%;
            }
        }
        div:has(.colored_button){
            margin-top: 2vh;
        }
    }
    html{
        background-image: none;
        font-size: clamp(16px, 6vw, 10vmax);
        zoom: 1.2;
    }
    @media all and (min-width: 768px){
        html{
            zoom: 0.8;
            
        }

        #register_box form>h1{
            border-bottom: 3px solid rgb(141, 210, 255);
            margin-bottom: 10vh;
        }
        
        #register_box div:has(.colored_button){
            margin-top: 10vh;
            min-width: 45%;
            min-height: 9%;
            >input{
                width: 100%;
                height: 100%;
            }
        }
    }
}